# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
*.log

# env
.env
.env*.local
!.env.example

# typescript
*.tsbuildinfo

# generated synthetic data
backend/data/

docs